/.all-contributorsrc        export-ignore
/assets                     export-ignore
/gdscript-docs-maker        export-ignore
/.git                       export-ignore
/.gitattributes             export-ignore
/.github                    export-ignore
/.gitignore                 export-ignore
/addons/gut                 export-ignore
/demo                       export-ignore
/LICENSE.md                 export-ignore
/logs                       export-ignore
/Makefile                   export-ignore
/README.md                  export-ignore
